<h1>Please sign in</h1>

<div id='peeps-container'>

  <form method='post' action='/sessions' class='peep_form'>
    <label>
      e-mail: <input type='text' name='email' size='100'/>
    </label>
    <label>
      Password: <input type='password' name='password' size='100'/>
    </label>
    <input type='submit' value='Sign in' class='button'>
  </form>

  <h2>Forgot password?</h2>

  <form method='post' action='/users/reset_password' class='peep_form'>
    <label>
      e-mail: <input type='text' name='forgot' size='100'>
    </label>
    <label>
      <input type='submit' value='Email token' class='button'>
    </label>
  </form>

</div>