<h1>Set new password</h1>

<div id='peeps-container'>

Please set a new password for <%= @user.email %>

<form action='/users/set_new_password' method='post' class='peep_form'>
  <label>
    Password: <input name='password' type='password' size='100'>
  </label>
  <label>
    Password confirmation: <input name='password_confirmation' type='password' size='100'>
  </label>
  <input type='hidden' name='password_token' value=<%= @password_token %>>
  <input type='submit' value='Submit' class='button'>
</form>

</div>